pane_frames false
theme "nord-ext"
session_serialization false
ui {
  pane_frames{
    hide_session_name true
  }
}
keybinds {
  unbind "Alt Left" "Alt Up"
  normal  {
    bind "Alt Right" { NewPane "Right"; }
    bind "Alt Down" { NewPane "Down"; }
    bind "Alt h" { MoveFocusOrTab "Left"; }
    bind "Alt l" { MoveFocusOrTab "Right"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt q" { CloseFocus ; }
  }
  move {
    unbind "Left" "Right" "Down" "Up"
    bind "h" { MovePane "Left"; }
    bind "l" { MovePane "Right"; }
    bind "j" { MovePane "Down"; }
    bind "k" { MovePane "Up"; }
  }
}
themes {
  nord-ext {
    fg "#D8DEE9"
    bg "#3B404A"
    // fg "#7F7F7F"
    // bg "#4F4F4F"
    black "#3B4252"
    blue "#81A1C1"
    cyan "#88C0D0"
    green "#A3BE8C"
    magenta "#B48EAD"
    orange "#D08770"
    red "#BF616A"
    white "#E5E9F0"
    yellow "#EBCB8B"
  }
}
